<mat-card class="example-card" style="box-shadow: none;">

  <mat-card-title>Asset Allocation</mat-card-title>
  <mat-tab-group>
   
    <mat-tab>
      <ng-template mat-tab-label class="mat-tab-label_new">
        <mat-icon class="example-tab-icon">home icon</mat-icon>
        Home
      </ng-template>
      <div id="barchart_div"></div>
    </mat-tab>
    
    <mat-tab>
      <ng-template mat-tab-label class="mat-tab-label_new">
        <mat-icon class="example-tab-icon">image icon</mat-icon>
        Artwork
      </ng-template>

      <div id="barchart_div"></div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label class="mat-tab-label_new">
        <mat-icon class="example-tab-icon">monetization on icon</mat-icon>
        Deposits
      </ng-template>
      <mat-card class="example-card">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
          <p>This card indeterminates progress bar.</p>
          <p>Hello World</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label class="mat-tab-label_new">
        <mat-icon class="example-tab-icon">directions car icon</mat-icon>
        Vehicles
      </ng-template>
      <mat-card class="example-card">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
          <p>This card indeterminates progress bar.</p>
          <p>Hello World</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label class="mat-tab-label_new">
        <mat-icon class="example-tab-icon">domain icon</mat-icon>
        Real Estate
      </ng-template>

      <mat-card class="example-card">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
          <p>This card indeterminates progress bar.</p>
          <p>Hello World</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</mat-card>