
<mat-card class="example-card"  style="box-shadow: none;">
    <mat-card-title>Beneficiaries 
       
     <button class="button"  (click)="openDialogBenficiary()">Add</button>
     
    </mat-card-title>
    <mat-card-content>
      <mat-card class="example-card">
        <mat-card-title-group>
        
          <mat-card-subtitle>Vincent Jones</mat-card-subtitle>
          <mat-card-subtitle>Daughter(Minor)</mat-card-subtitle> 
        </mat-card-title-group>
        <mat-card-content>
      
        </mat-card-content>
      </mat-card>
   
      <mat-card class="example-card">
        <mat-card-title-group>
         
          <mat-card-subtitle>David Jones</mat-card-subtitle>
          <mat-card-subtitle>Son</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
      
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-title-group>
        
          <mat-card-subtitle>Maurice Jones</mat-card-subtitle>
          <mat-card-subtitle>Spouse</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
      
        </mat-card-content>
      </mat-card>
      
  


    </mat-card-content>

   
  </mat-card>

 