<div class="dshcontainer">
  <div fxLayout="row"  fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-card">   
    
    <mat-card fxFlex="35">  
      <app-accout-summary></app-accout-summary>
    </mat-card> 
    <mat-card  fxFlex="65"> 
      <app-my-assets></app-my-assets>
    </mat-card>
  </div>
  <br>
  
  <div fxLayout="row"  fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-card">
    <mat-card fxFlex="35"> 
    <app-beneficiaries></app-beneficiaries>  
    </mat-card> 
    <mat-card  fxFlex="65"> 
      <app-asset-allocation></app-asset-allocation>
    </mat-card>
  </div>
</div>



